$background-color : #fefefe;
$second-color : rgb(0, 196, 167);

body {
  background-color: $background-color;
  text-align: center;
  #timer {
      font-family: 'Major Mono Display', monospace;
      font-size: 8em;
  }
  .navbar {
      background: $second-color;
      color: #E7DACB;
      height: 75px;
      img {
          height: 150px;
          margin-left: 1em;
      }
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .container {
      margin-top: 6em;
      .tile {
          text-align: center;
      }
      .is-success {
          background-color: rgb(0, 196, 167);
      }
  }
}
